@media (max-width: 1185px) {
    .container {
        max-width: 1000px;
    }

    .paragraph2, .paragraph3 {
        width: 300px;
        font-size: 13px;
    }
}

@media (max-width: 1025px) {
    .container {
        max-width: 900px;
    }

    .paragraph1 {
        width: 280px;
        font-size: 23px;
    }

    .paragraph2, .paragraph3 {
        width: 280px;
        font-size: 13px;
    }
}

@media (max-width: 930px) {
    .container {
        max-width: 800px;
    }

    .paragraph1 {
        width: 250px;
        font-size: 23px;
    }

    .paragraph2, .paragraph3 {
        width: 250px;
        font-size: 12px;
    }

    .footer_div5 input {
        width: 220px;
    }
}

@media (max-width: 820px) {
    .container {
        max-width: 700px;
    }

    .image_h3 {
        font-size: 25px;
    }

    .image_p {
        width: 250px;
        font-size: 15px;
    }

    input, select {
        width: 250px;
        height: 40px;
    }
    
    .paragraph1 {
        width: 200px;
        font-size: 22px;
    }

    .paragraph2, .paragraph3 {
        width: 200px;
        font-size: 12px;
    }

    .footer_div5 input {
        width: 190px;
    }
}

@media (max-width: 720px) {
    .container {
        max-width: 600px;
    }

    .paragraph2, .paragraph3 {
        width: 170px;
        font-size: 12px;
    }

    .footer_div5 input {
        width: 140px;
        margin-left: 20px;
    }

    .footer_div5 label {
        margin-left: 20px;
    }
}

@media (max-width: 615px) {
    .container {
        max-width: 500px;
    }

    .section1 {
        flex-direction: column;
        margin-top: 80px;
    }

    .image_block {
        max-width: 600px;
    }

    .image_block img {
        width: 500px;
    }

    .image_text img {
        width: 50px;
    }

    .image_text {
        margin-left: 50%;
    }

    .forms_block {
        margin-top: 170px;
        margin-left: 120px;
    }

    .section2 {
        width: 100%;
        margin-top: 300px;
        flex-direction: column;
    }

    .paragraph1 {
        width: 300px;
        font-size: 23px;
        margin-bottom: 30px;
        margin-left: 100px;
    }

    .paragraph2, .paragraph3 {
        width: 300px;
        font-size: 14px;
        margin-bottom: 30px;
        margin-left: 100px;
    }

    .first_div img {
        margin-left: 200px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    footer {
        height: auto;
    }

    .footer p {
        margin-bottom: 10px;
        font-size: 17px;
    }

    .footer_div1 p{
        margin-bottom: 20px;
        font-size: 20px;
    }

    .footer_div5 input {
        width: 240px;
        transform: translateX(-25%);
        margin-top: 30px;
    }

    .footer_div5 label {
        width: 240px;
        font-size: 15px;
        transform: translateX(-25%);
        text-align: center;
    }

    .soc_media {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

@media (max-width: 530px) {
    .time {
        margin-left: 100px;
    }
}

@media (max-width: 450px) {
    .image_text {
        margin-left: 150px;
    }
}

@media (max-width: 320px) {
    footer {
        width: 100%;
    }
}